.form-group{
    width: 400px;
    margin: 15px auto;
    
}

.row{
    display: flex;
   justify-content: center;
   align-items: center;
   
    
}

.col-6{
    margin: 0 2px;
}

.pay-button{
    width: 400px;
    margin: 15px auto;
}

.App-highlight{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 30vw;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
}

.cardDetails{
   padding: 0;
   margin: 0;
   border-bottom: 1px solid black;
}
